            <html lang="zh-cn">
        <head>
            <meta content="text/html; charset=utf-8" http-equiv="content-type" />
            <style type="text/css">
            {0}
            </style>
            </head>
            <body>
                <div class="right_nav">
                    <div class="a" style="text-align: center;border: 0px solid black;font-weight: bold; background: #F77913"><a class="lefttitle" >导航栏</a></div>
                    <div class="a" style="text-align: center" ><a href="#project_summary" class="lefttitle">项目概况</a></div>
                    <div  class="a" style="text-align: center" ><a href="#inspection_explain" class="lefttitle">巡检说明</a></div>
                    <div  class="a" style="text-align: center" ><a href="#error_explain"  class="lefttitle">异常说明</a></div>
                    <div  class="a" style="text-align: center" ><a href="#cpuloadcheck" class="lefttitle">CPU负载</a></div>
                    <div  class="a" style="text-align: center" ><a href="#memorycheck" class="lefttitle">内存检测</a></div>
                    <div  class="a" style="text-align: center" ><a href="#diskcheck" class="lefttitle">磁盘检测</a></div>
                    <div  class="a" style="text-align: center" ><a href="#sshcheck" class="lefttitle">Ssh登录检测</a></div>
                    <div  class="a" style="text-align: center" ><a href="#scanattac" class="lefttitle">扫描异常情况</a></div>
                    <div  class="a" style="text-align: center" ><a href="#crontab" class="lefttitle">定时任务记录</a></div>
                    <div  class="a" style="text-align: center" ><a href="#passwd" class="lefttitle">可登录用户记录</a></div>
                    <div  class="aa" style="text-align: center" ><a href="./{2}" class="lefttitle">详细数据记录</a></div>
                    <div  class="aa" style="text-align: center" ><a href="./{3}" class="lefttitle">巡检报告</a></div>
        <div  class="aa" style="text-align: center" ><a href="#top" class="lefttitle">回到顶部</a></div>
</div>
            {1}
            </body>
            </html>